[submodule "epsrc-controller"]
	path = epsrc-controller
	url = https://github.com/mrjoe3012/epsrc-controller
[submodule "epsrc-sim-data-collection"]
	path = epsrc-sim-data-collection
	url = https://github.com/mrjoe3012/epsrc-sim-data-collection
[submodule "epsrc-cluster-files"]
	path = epsrc-cluster-files
	url = https://github.com/mrjoe3012/epsrc-cluster-files
[submodule "epsrc-vehicle-model"]
	path = epsrc-vehicle-model
	url = https://github.com/mrjoe3012/epsrc-vehicle-model.git
[submodule "epsrc-ugrdv-msgs"]
	path = epsrc-ugrdv-msgs
	url = https://github.com/mrjoe3012/epsrc-ugrdv-msgs
[submodule "epsrc-eufs-sim"]
	path = epsrc-eufs-sim
	url = https://github.com/mrjoe3012/epsrc-eufs-sim.git
[submodule "epsrc-eufs-msgs"]
	path = epsrc-eufs-msgs
	url = https://github.com/mrjoe3012/epsrc-eufs-msgs.git
[submodule "epsrc-docker"]
	path = epsrc-docker
	url = https://github.com/mrjoe3012/epsrc-docker.git
